@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=M+PLUS+Rounded+1c:wght@300;500&family=Maven+Pro:wght@600&display=swap');
:root{
    --primary-red: #BF2C38;
    --primary-white: #F2F2F2;
    --primary-lightblue: #D0E6FE; 
    --gray-1:#A6A6A6;
    --gray-2:#595959;
    --black:#0D0D0D;
    --font: "Anonymous Pro", monospace;
    --heading-1-size: 2.5rem;
    --heading-2-size: 2rem; 
    --heading-3-size: 1.5rem;
    --heading-4-size: 1.125rem;
    --paragraph-size: 1rem;   
    --small-text-size: 0.875rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, h1, h2, h3, h4, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primary-white);
    font-family: var(--font);
    font-size: var(--paragraph-size);
}

.navbar-container{
    display: flex;
    padding: 0;
    background-color: var(--primary-red);
    color: var(--primary-white);
    text-decoration: none;
    transition: all 0.2s linear;
    height: 85px;
    width: auto;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
}

header .logo{
    cursor: pointer;
}

header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

header .logo img:hover{
    transform: scale(1.2);
}

header .navbar-list{
    list-style: none;
}

header .navbar-list li{
    display: inline-block;
    padding: 0 20px;    
}

header .navbar-list li:hover{
    transform: scale(1.1);
}

header .navbar-list a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;    
}

header .navbar-list li a:hover{
    color: var(--black);
}

#sign-in{
    padding: 15px 50px;
    color: var(--black);
    background-color: var(--primary-white);
    border-radius: 50px;
}

.service-container{
    text-align: center;
}

.about {
    margin-bottom: 100px;
}
.service-title, .about-title{
    font-size: 180%;
}

.service-subtitle, .about-subtitle{
    font-size: 160%;
    margin-bottom: 1.7%;
}

.about-title, .about-subtitle{
    margin-left: 16%;
}

.box-group{
    display: flex;
    justify-content:center;
}

.box-border{
    background-color: var(--primary-white);
    margin: 0 3%;
    margin-bottom: 4%;
    width: 350px;
    height: 340px;
    border-radius: 10%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border: 1px solid transparent;
    transition: border-color 0.3s;
}

.box-border:hover {
    border-color: var(--primary-red);
}

.box-img{
    width: 70%;
    background-color: var(--primary-lightblue);
}

.box-title{
    font-size: 150%;
}

.box-text{
    font-size: 115%;
    margin: 2%;
}

.about-container{
    text-align: justify;
}
.text-about{
    margin-top: 10%;
    font-size: 130%;
    width: 30%;
}
.box-img1{
    margin-left: 2%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border: 2px solid transparent color(0, 0, 0, 0.5);
    transition: border-color 0.3s;
    width: 15%;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

.contact-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.contact {
    text-align: center;
    background-color: #BF2C38;
    color: #ffffff;
    padding: 50px 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.contact-container {
    max-width: 600px;
    margin: 0 auto;
}

.contact-title {
    margin-bottom: 30px;
    font-size: 2em;
    color: #ffffff;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    background-color: #ffffff; /* Rellenado de blanco */
    color: #555555; /* Letras matizadas */
    font-size: 1em;
    transition: border-color 0.3s; /* Transición suave del color del borde */
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #333333; /* Borde al enfocar */
}

textarea {
    height: 150px;
    resize: vertical;
}

button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1em;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
    background-color: #555555;
    color: #ffffff;
}
/* *********** */
/* PRECIOS */
/* *********** */
:root {
    --max-width: 1200px;
  }
  .section__container2{
    color: #fff;
	background:url(../assets/rojo.jpg) no-repeat center top;
	background-attachment:fixed;
	background-size:cover;
    background-position: center center;
    padding: 100px 0;
    margin: auto;
  }
  .btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--primary-red);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color: black;
  }
  
  .price__grid {
    margin-top: 4rem;
    display: grid;
    gap: 2rem;
    max-width: var(--max-width);
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajuste agregado */
  }
  
  
  .price__card {
      padding: 1rem 1rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
      background-color: rgba(255,255,255,0.5); /* Color de fondo blanco semi-transparente */
    }  
    
    .price__content i{
        color: #fff;
        font-size: 50px;
        line-height: 55px;
    }
  .price__content {
    flex: 1;
    margin-bottom: 0.5rem;
  }
  
  .price__content h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .price__content p {
    margin-bottom: 1rem;
    color: var(--text-light);
  }
  
  .price__content hr {
    margin-bottom: 1rem;
  }